body{font-family: 'Arima', cursive; margin: 0px;}
h1{font-size: 50px;}
.clss{color: orangered;}
.flexible{display: flex;
margin-bottom: 50px;}
.halfwidth{width: 80%; padding: 10%}
.halfwidth img{width: 80%;}
.button{text-decoration: none; background-image: linear-gradient(orange,orangered); padding: 10px 40px; border-radius: 10px;font-weight: 700;}
.topbanner{background-image:url(images/top-banner.png); background-repeat: no-repeat;}
.dream{background-image: url(images/dream-bg.png);
background-repeat:no-repeat ;
background-position: right;}
.shadow{ width: 40%; 
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 20px 10px 30px gray;
    
    }
.experiences{background-image: url(images/exp-bg.png); background-repeat: no-repeat; background-position: left;}
#full{border-left:10px solid blue ;}
#baby{border-left: 10px solid tomato;}
footer p{text-align: center;}